In [1]:
# -*- coding: utf-8 -*-
import sqlite3
import pandas as pd
import numpy as np
import shelve

In [2]:
class SQLighter:
    def __init__(self, database):
        self.connection = sqlite3.connect(database)
        self.cursor = self.connection.cursor()
        
        # поля для основной таблички events
        self.fields = [['date', 'datetime'],['name', 'text'], ['descr', 'text'], ['max_memb_count', 'integer']]
        # поля для каждой из табличек
        self.fields_event = [['user_id', 'text'], ['status','text']]
    def create_table(self, name, fiels):
        self.cursor.execute('create table {0} ({1})'.format(name, ', '.join([' '.join(t) for t in fiels])))
        
    def insert_into_table(self, name_of_table, columns, values):
        self.cursor.execute('INSERT INTO {0} {1} VALUES {2}'.format(name_of_table,
                                                                      columns,
                                                                      values))
        self.connection.commit()
    def create_event(self, event_object):
        # Для каждого нового события создается новая табличка что бы записывать участников
        self.create_table(event_object['name'], [['user_id', 'text'], ['status','text']])
        # Для каждого события в табличку events добавляется строка
        self.insert_into_table('events', 
                               columns = tuple(pd.Series(event_object).dropna().index), 
                               values = tuple(pd.Series(event_object).dropna().values))
    def add_user(self, user_id): # метод, который добавляет пользователя в табличку users
        self.insert_into_table(name_of_table = 'users', columns="('user_id')", values=user_id)
        
    def check_user(self, user_id): # метод, который проверяет, есть ли пользователь в табличке users
        try:
            t = pd.read_sql('select count(*) from users u where u.user_id = {}'.format(user_id), self.connection)
            if t.values[0] == 1:
                return True
            elif t.values[0] >1:
                return 'WTF?'
            else:
                return False
        except:
            return False
    def check_event(self, event): # метод для проверки того, что событие есть вообще существует
        try:
            t = pd.read_sql('select count(*) from events u where u.user_id = {}'.format(event), self.connection)
            if t.values[0] == 1:
                return True
            elif t.values[0] == 1:
                return 'WTF?'
            else:
                return False
        except:
            return False

In [3]:
db = SQLighter('../chat_sup/aievents.db')

In [7]:
pd.read_sql('select * from events', db.connection)

         date         name             descr  max_memb_count
0  21.02.2009    new_event              None               9
1  21.05.2009  new_event_1              None              20
2  15.03.2009  new_event_2  very interesting               9

In [6]:
# этот словарь заполняет менеджер
event_object_2 = {
    'date':'15.03.2009', 'name':'new_event_2', 'descr':'very interesting', 'max_memb_count':9
}
# тест создания нового события
db.create_event(event_object_2)

In [ ]:
# этот словарь заполняет менеджер
event_object_1 = {
    'date':'21.05.2009', 'name':'new_event_1', 'descr':None, 'max_memb_count':20
}
# тест создания нового события
db.create_event(event_object_1)

In [ ]:
# тест создания нового пользователя
db.add_user('(\''+'1234'+'\')')

In [ ]:
# создаю основную табличку events
db.create_table('events', db.fields)

# создаю основную табличку users
db.create_table('users', [['user_id', 'text'],['birth_date', 'datetime'],['sex','BLOB'],['is_moderator','BLOB']])